.popup {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}