.popup__close-icone {
    margin: 0;
    position: absolute;
    left: 438px;
    bottom: 338px;
    background-color: #000;
    border: none;
    padding: 0;
}

.popup__close-icone:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .popup__close-icone {
        left: 262px;
        bottom: 340px;
    }
}