.popup__close-icone {
    margin: 0;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -37px;
    background-image: url(../../../images/Close_Icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    padding: 0;
}

.popup__close-icone:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .popup__close-icone {
        width: 20px;
        height: 20px;
        background-size: cover;
        right: 0;
        top: -28px;
    }
}