.profile__edit-button {
    margin: 0;
    min-width: 24px;
    min-height: 24px;
    background-image: url(../../../images/edit_button.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 1px solid #fff;
    box-sizing: border-box;

}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .profile__edit-button {
        min-height: 18px;
        min-width: 18px;
        background-size: 7.5px;
    }
}