.profile {
    max-width: 880px;
    margin: 0 auto 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        margin: 0 19px 36px;

    }
}