.popup__button {
    padding: 14px 125px 18px 125px;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 48px 36px 37px;
}