.header {
    max-width: 880px;
    min-height: 74px;
    margin: 0 auto 40px;
    border-bottom: 1px solid #545454;
    padding-top: 45px;
}

@media screen and (max-width: 640px) {
    .header {
        padding-top: 28px;
        margin: 0 auto 42px;
    }
}