.header {
    max-width: 880px;
    min-height: 74px;
    margin: 0 auto 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-top: 45px;
}

@media screen and (max-width: 700px) {
    .header {
        padding-top: 28px;
        margin: 0 auto 42px;
        max-width: 320;
        min-height: 56px;
    }
}