.profile__subtitle {
    margin: 16px 0 0 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    max-width: 336px;
}

@media screen and (max-width: 700px) {
    .profile__subtitle {
        max-width: 282px;
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 17px;
    }
}