.element__heart {
    background-image: url(../../../images/Vector_Stroke.svg);
    min-width: 22px;
    min-height: 19px;
    border: none;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    color: #000;
}


.element__heart:hover {
    opacity: 0.5;
}

.element__heart:active {
    background-image: url(../../../images/active_heart.svg);
    opacity: 1;
}