.profile__add-button {
    margin: 0;
    min-width: 150px;
    min-height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    background-image: url(../../../images/plus.svg);
    box-sizing: border-box;
    padding: 0;


}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile__add-button {
        min-width: 282px;
        background-size: 16px;
        margin: 0 19px;
    }
}