.profile__add-button {
    margin: 0;
    min-width: 22px;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 14px 64px;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 640px) {
    .profile__add-button {
        padding: 17px 152px;
        min-width: 16px;
        margin: 0 19px;
    }
}