.element__image {
    margin: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    aspect-ratio: 1 / 1;

}

.element__image:hover {
    cursor: pointer;
}