.profile__name {
    margin: 0;
    display: flex;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .profile__name {
        margin-top: 26px;

    }
}