@import url(.././vendor/normalize.css);
@import url(.././fonts/fonts.css);
@import url(.././blocks/body/body.css);
@import url(.././blocks/page/page.css);
@import url(.././blocks/main/main.css);
@import url(.././blocks/header/header.css);
@import url(.././blocks/header/__logo/header__logo.css);
@import url(.././blocks/profile/profile.css);
@import url(.././blocks/profile/__left-section/profile__left-section.css);
@import url(.././blocks/profile/__avatar/profile__avatar.css);
@import url(.././blocks/profile/__info/profile__info.css);
@import url(.././blocks/profile/__name/profile__name.css);
@import url(.././blocks/profile/__title/profile__title.css);
@import url(.././blocks/profile/__edit-button/profile__edit-button.css);
@import url(.././blocks/profile/__subtitle/profile__subtitle.css);
@import url(.././blocks/profile/__add-button/profile__add-button.css);
@import url(.././blocks/elements/elements.css);
@import url(.././blocks/element/element.css);
@import url(.././blocks/element/__image/element__image.css);
@import url(.././blocks/element/__group/element__group.css);
@import url(.././blocks/element/__title/element__title.css);
@import url(.././blocks/element/__heart/element__heart.css);
@import url(.././blocks/footer/footer.css);
@import url(.././blocks/footer/__copyright/footer__copyright.css);
@import url(.././blocks/popup/popup.css);
@import url(.././blocks/popup/__container/popup__container.css);
@import url(.././blocks/popup/__heading/popup__heading.css);
@import url(.././blocks/popup/__button/popup__button.css);
@import url(.././blocks/popup/__close-icone/popup__close-icon.css);
@import url(.././blocks/popup/__item/popup__item.css);
@import url(.././blocks/popup/__item/_button/popup__item_button.css);
@import url(.././blocks/popup/__item/_name/popup__item_name.css);
@import url(.././blocks/popup/__item/_prof/popup__item_prof.css);
@import url(.././blocks/popup/__line/popup__line.css);
@import url(.././blocks/popup/_opened/popup__opened.css);