.popup__item_button {
    padding: 14px 124px 14px 125px;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 48px 36px 37px 0;
}

.popup__item_button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .popup__item_button {
        font-size: 14px;
        line-height: 17px;
        padding: 14px 82px;
        margin: 45px 22px 25px 0;

    }
}